In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

In [0]:
df_flight=pd.read_csv("/content/drive/My Drive/flight_data.csv")
df_flight

         Year  Quarter  Month  ...  ArrDel15 ArrDelayMinutes  Origin
0        2016        1      1  ...       0.0             8.0     SEA
1        2016        1      1  ...       0.0            11.0     SEA
2        2016        1      1  ...       0.0             0.0     SEA
3        2016        1      1  ...       0.0             0.0     SEA
4        2016        1      1  ...       0.0             0.0     SEA
...       ...      ...    ...  ...       ...             ...     ...
1877291  2017        4     12  ...       0.0             0.0     ORD
1877292  2017        4     12  ...       0.0             0.0     LAX
1877293  2017        4     12  ...       0.0             0.0     IAH
1877294  2017        4     12  ...       0.0             0.0     DFW
1877295  2017        4     12  ...       0.0             0.0     MCO

[1877296 rows x 16 columns]

In [0]:
df_weather=pd.read_csv("/content/drive/My Drive/weather_data.csv")
df_weather

        windspeedKmph  DewPointF  cloudcover  ...  time  airport        date
0                  11         47         100  ...     0      ATL  2016-01-01
1                  13         44         100  ...   100      ATL  2016-01-01
2                  14         41         100  ...   200      ATL  2016-01-01
3                  16         38         100  ...   300      ATL  2016-01-01
4                  17         38         100  ...   400      ATL  2016-01-01
...               ...        ...         ...  ...   ...      ...         ...
263155              2         52          51  ...  1900      SFO  2017-12-31
263156              2         53          44  ...  2000      SFO  2017-12-31
263157              1         53          38  ...  2100      SFO  2017-12-31
263158              2         52          58  ...  2200      SFO  2017-12-31
263159              2         51          79  ...  2300      SFO  2017-12-31

[263160 rows x 15 columns]

In [0]:
Time=df_flight['DepTime'].tolist()
for i in range(len(Time)):
  hours=Time[i]//100
  mins=Time[i]%100
  if(mins > 30):
    hours+=1
  Time[i]=hours * 100 
df_flight['newroundedtime']=Time
df_flight

         Year  Quarter  Month  ...  ArrDelayMinutes Origin  newroundedtime
0        2016        1      1  ...              8.0    SEA           800.0
1        2016        1      1  ...             11.0    SEA           800.0
2        2016        1      1  ...              0.0    SEA           800.0
3        2016        1      1  ...              0.0    SEA           800.0
4        2016        1      1  ...              0.0    SEA           700.0
...       ...      ...    ...  ...              ...    ...             ...
1877291  2017        4     12  ...              0.0    ORD          1000.0
1877292  2017        4     12  ...              0.0    LAX          1200.0
1877293  2017        4     12  ...              0.0    IAH           800.0
1877294  2017        4     12  ...              0.0    DFW          1700.0
1877295  2017        4     12  ...              0.0    MCO          1000.0

[1877296 rows x 17 columns]

In [0]:
df_flight['newroundedtime']=df_flight['newroundedtime'].fillna(0.0).astype(int)
df_flight

         Year  Quarter  Month  ...  ArrDelayMinutes Origin  newroundedtime
0        2016        1      1  ...              8.0    SEA             800
1        2016        1      1  ...             11.0    SEA             800
2        2016        1      1  ...              0.0    SEA             800
3        2016        1      1  ...              0.0    SEA             800
4        2016        1      1  ...              0.0    SEA             700
...       ...      ...    ...  ...              ...    ...             ...
1877291  2017        4     12  ...              0.0    ORD            1000
1877292  2017        4     12  ...              0.0    LAX            1200
1877293  2017        4     12  ...              0.0    IAH             800
1877294  2017        4     12  ...              0.0    DFW            1700
1877295  2017        4     12  ...              0.0    MCO            1000

[1877296 rows x 17 columns]

In [0]:
df_flight

         Year  Quarter  Month  ...  ArrDelayMinutes Origin  newroundedtime
0        2016        1      1  ...              8.0    SEA             800
1        2016        1      1  ...             11.0    SEA             800
2        2016        1      1  ...              0.0    SEA             800
3        2016        1      1  ...              0.0    SEA             800
4        2016        1      1  ...              0.0    SEA             700
...       ...      ...    ...  ...              ...    ...             ...
1877291  2017        4     12  ...              0.0    ORD            1000
1877292  2017        4     12  ...              0.0    LAX            1200
1877293  2017        4     12  ...              0.0    IAH             800
1877294  2017        4     12  ...              0.0    DFW            1700
1877295  2017        4     12  ...              0.0    MCO            1000

[1877296 rows x 17 columns]

In [0]:
df_merged=pd.merge(df_flight,df_weather,left_on=['FlightDate','newroundedtime','Origin'],right_on=['date','time','airport']).drop(['date','newroundedtime','time','Origin'],axis=1)
df_merged

         Year  Quarter  Month  ...  winddirDegree humidity  airport
0        2016        1      1  ...            108       65      SEA
1        2016        1      1  ...            108       65      SEA
2        2016        1      1  ...            108       65      SEA
3        2016        1      1  ...            108       65      SEA
4        2016        1      1  ...            108       65      SEA
...       ...      ...    ...  ...            ...      ...      ...
1859971  2017        4     12  ...            123       88      EWR
1859972  2017        4     12  ...            219       90      ORD
1859973  2017        4     12  ...            219       90      ORD
1859974  2017        4     12  ...            177       89      SEA
1859975  2017        4     12  ...            113       78      IAH

[1859976 rows x 28 columns]

In [0]:
df_flight['newroundedtime'].unique()

array([ 800,  700,    0, 1200, 1800, 1900, 2100, 2000, 1100, 1400, 1700,
       1500, 1600, 1300, 2200, 2300,  900, 1000,  600, 2400,  100,  300,
        200,  500,  400])

In [0]:
df_merged.to_csv("/content/drive/My Drive/Flight_weather.csv",index=False)