In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
import pickle as pkl

In [3]:
loaded_model=pkl.load(open("/content/drive/My Drive/finalized_classifier.sav","rb"))

In [4]:
import pandas as pd
df=pd.read_csv("/content/drive/My Drive/Flight_weather.csv")
df.dropna(how='any',inplace=True)
df

         Year  Quarter  Month  ...  winddirDegree humidity  airport
0        2016        1      1  ...            108       65      SEA
1        2016        1      1  ...            108       65      SEA
2        2016        1      1  ...            108       65      SEA
3        2016        1      1  ...            108       65      SEA
4        2016        1      1  ...            108       65      SEA
...       ...      ...    ...  ...            ...      ...      ...
1859971  2017        4     12  ...            123       88      EWR
1859972  2017        4     12  ...            219       90      ORD
1859973  2017        4     12  ...            219       90      ORD
1859974  2017        4     12  ...            177       89      SEA
1859975  2017        4     12  ...            113       78      IAH

[1834170 rows x 28 columns]

In [5]:
import sklearn.preprocessing as preprocessing
le=preprocessing.LabelEncoder()
df["airport"]=le.fit_transform(df["airport"].astype(str))
df["FlightDate"]=le.fit_transform(df["FlightDate"].astype(str))
df

         Year  Quarter  Month  ...  winddirDegree  humidity  airport
0        2016        1      1  ...            108        65       13
1        2016        1      1  ...            108        65       13
2        2016        1      1  ...            108        65       13
3        2016        1      1  ...            108        65       13
4        2016        1      1  ...            108        65       13
...       ...      ...    ...  ...            ...       ...      ...
1859971  2017        4     12  ...            123        88        4
1859972  2017        4     12  ...            219        90       11
1859973  2017        4     12  ...            219        90       11
1859974  2017        4     12  ...            177        89       13
1859975  2017        4     12  ...            113        78        5

[1834170 rows x 28 columns]

In [6]:
X=df.drop(["ArrDel15","ArrDelayMinutes","ArrTime"],axis=1)
y=df["ArrDel15"]

In [7]:
X_reg=df.drop(["ArrDel15","ArrDelayMinutes","ArrTime"],axis=1)
y_reg=df["ArrDelayMinutes"]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [9]:
X_train_reg,X_test_reg,y_train_reg,y_test_reg=train_test_split(X_reg,y_reg,test_size=0.2,random_state=0)

In [15]:
y_pred=loaded_model.predict(X_test)

In [16]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.93      0.97      0.95    289814
         1.0       0.85      0.72      0.78     77020

    accuracy                           0.92    366834
   macro avg       0.89      0.84      0.86    366834
weighted avg       0.91      0.92      0.91    366834

In [41]:
delayed=pd.Series(list(map(bool,y_pred)))
delayed

0         False
1         False
2         False
3         False
4         False
          ...
366829    False
366830     True
366831    False
366832     True
366833     True
Length: 366834, dtype: bool

In [53]:
lst=[]
for i in range(len(delayed)):
  if delayed[i]==True:
    lst.append(i)

In [87]:
X_delayed=X_test.iloc[lst]
X_delayed

         Year  Quarter  Month  ...  winddirDegree  humidity  airport
563888   2016        3      8  ...            162        15        7
1292284  2017        2      5  ...             35         7        7
164726   2016        1      3  ...             53        79        3
1192864  2017        2      4  ...            274        59       14
1740141  2017        4     11  ...            245        91        8
...       ...      ...    ...  ...            ...       ...      ...
525074   2016        3      7  ...            113        49        3
1895     2016        1      1  ...            224        82       10
838032   2016        4     11  ...             52        87        5
159178   2016        1      3  ...            133        41        9
77719    2016        1      2  ...            230        46        9

[65349 rows x 25 columns]

In [88]:
y_delayed=y_test_reg.iloc[lst]
y_delayed

563888     106.0
1292284     60.0
164726      34.0
1192864     18.0
1740141     49.0
           ...
525074      40.0
1895        51.0
838032      33.0
159178      92.0
77719       41.0
Name: ArrDelayMinutes, Length: 65349, dtype: float64

In [90]:
loaded_regressor=pkl.load(open("/content/drive/My Drive/finalized_regressor.sav","rb"))

In [91]:
y_predicted_reg=loaded_regressor.predict(X_delayed)

In [92]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
print("rmse for pipeline is:",mean_squared_error(y_delayed,y_predicted_reg,squared=False))
print("MAE for pipeline is:",mean_absolute_error(y_delayed,y_predicted_reg))
print("R2_Score for pipeline is:",r2_score(y_delayed,y_predicted_reg))

rmse for pipeline is: 13.24526036915756
MAE for pipeline is: 8.790360877748704
R2_Score for pipeline is: 0.971779572344214