In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pickle as pkl

In [0]:
loaded_model=pkl.load(open("/content/drive/My Drive/finalized_classifier.sav","rb"))

In [0]:
import pandas as pd
df=pd.read_csv("/content/drive/My Drive/Flight_weather.csv")
df.dropna(how='any',inplace=True)
df

         Year  Quarter  Month  ...  winddirDegree humidity  airport
0        2016        1      1  ...            108       65      SEA
1        2016        1      1  ...            108       65      SEA
2        2016        1      1  ...            108       65      SEA
3        2016        1      1  ...            108       65      SEA
4        2016        1      1  ...            108       65      SEA
...       ...      ...    ...  ...            ...      ...      ...
1859971  2017        4     12  ...            123       88      EWR
1859972  2017        4     12  ...            219       90      ORD
1859973  2017        4     12  ...            219       90      ORD
1859974  2017        4     12  ...            177       89      SEA
1859975  2017        4     12  ...            113       78      IAH

[1834170 rows x 28 columns]

In [0]:
import sklearn.preprocessing as preprocessing
le=preprocessing.LabelEncoder()
df["airport"]=le.fit_transform(df["airport"].astype(str))
df["FlightDate"]=le.fit_transform(df["FlightDate"].astype(str))
df

         Year  Quarter  Month  ...  winddirDegree  humidity  airport
0        2016        1      1  ...            108        65       13
1        2016        1      1  ...            108        65       13
2        2016        1      1  ...            108        65       13
3        2016        1      1  ...            108        65       13
4        2016        1      1  ...            108        65       13
...       ...      ...    ...  ...            ...       ...      ...
1859971  2017        4     12  ...            123        88        4
1859972  2017        4     12  ...            219        90       11
1859973  2017        4     12  ...            219        90       11
1859974  2017        4     12  ...            177        89       13
1859975  2017        4     12  ...            113        78        5

[1834170 rows x 28 columns]

In [0]:
X=df.drop(["ArrDel15","ArrDelayMinutes","ArrTime"],axis=1)
y=df["ArrDel15"]

In [0]:
X_reg=df.drop(["ArrDel15","ArrDelayMinutes","ArrTime"],axis=1)
y_reg=df["ArrDelayMinutes"]

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [0]:
X_train_reg,X_test_reg,y_train_reg,y_test_reg=train_test_split(X_reg,y_reg,test_size=0.2,random_state=0)

In [0]:
y_pred=loaded_model.predict(X_test)

In [0]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.93      0.97      0.95    289814
         1.0       0.85      0.72      0.78     77020

    accuracy                           0.92    366834
   macro avg       0.89      0.84      0.86    366834
weighted avg       0.91      0.92      0.91    366834

In [0]:
delayed=pd.Series(list(map(bool,y_pred)))

In [0]:
X_delayed=X_test.where(delayed)
X_delayed.dropna(how='all',inplace=True)

In [0]:
y_delayed=y_test_reg.where(delayed)
y_delayed.dropna(how='all',inplace=True)

In [0]:
loaded_regressor=pkl.load(open("/content/drive/My Drive/finalized_regressor.sav","rb"))

In [0]:
y_predicted_reg=loaded_regressor.predict(X_delayed)

In [0]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
print("rmse for pipeline is:",mean_squared_error(y_delayed,y_predicted_reg,squared=False))
print("MAE for pipeline is:",mean_absolute_error(y_delayed,y_predicted_reg))
print("R2_Score for pipeline is:",r2_score(y_delayed,y_predicted_reg))

rmse for pipeline is: 23.4097509655477
MAE for pipeline is: 21.519388931759135
R2_Score for pipeline is: 0.5994729267914833