In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
df=pd.read_csv("/content/drive/My Drive/Flight_weather.csv")
df.dropna(how='any',inplace=True)
df

         Year  Quarter  Month  ...  winddirDegree humidity  airport
0        2016        1      1  ...            108       65      SEA
1        2016        1      1  ...            108       65      SEA
2        2016        1      1  ...            108       65      SEA
3        2016        1      1  ...            108       65      SEA
4        2016        1      1  ...            108       65      SEA
...       ...      ...    ...  ...            ...      ...      ...
1859971  2017        4     12  ...            123       88      EWR
1859972  2017        4     12  ...            219       90      ORD
1859973  2017        4     12  ...            219       90      ORD
1859974  2017        4     12  ...            177       89      SEA
1859975  2017        4     12  ...            113       78      IAH

[1834170 rows x 28 columns]

In [0]:
import sklearn.preprocessing as preprocessing
le=preprocessing.LabelEncoder()
df["airport"]=le.fit_transform(df["airport"].astype(str))
df["FlightDate"]=le.fit_transform(df["FlightDate"].astype(str))
df

         Year  Quarter  Month  ...  winddirDegree  humidity  airport
0        2016        1      1  ...            108        65       13
1        2016        1      1  ...            108        65       13
2        2016        1      1  ...            108        65       13
3        2016        1      1  ...            108        65       13
4        2016        1      1  ...            108        65       13
...       ...      ...    ...  ...            ...       ...      ...
1859971  2017        4     12  ...            123        88        4
1859972  2017        4     12  ...            219        90       11
1859973  2017        4     12  ...            219        90       11
1859974  2017        4     12  ...            177        89       13
1859975  2017        4     12  ...            113        78        5

[1834170 rows x 28 columns]

In [0]:
df=df[df['ArrDel15'] == 1.0]
df

         Year  Quarter  Month  ...  winddirDegree  humidity  airport
1        2016        1      1  ...            108        65       13
2        2016        1      1  ...            108        65       13
7        2016        1      1  ...            108        65       13
8        2016        1      1  ...            108        65       13
11       2016        1      1  ...            118        63       13
...       ...      ...    ...  ...            ...       ...      ...
1859936  2017        4     12  ...             78        90        5
1859948  2017        4     12  ...            124        84        5
1859965  2017        4     12  ...             77        77        5
1859973  2017        4     12  ...            219        90       11
1859974  2017        4     12  ...            177        89       13

[383185 rows x 28 columns]

In [0]:
X=df.drop(["ArrDel15","ArrDelayMinutes","ArrTime"],axis=1)
y=df["ArrDelayMinutes"]

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [0]:
X_train

         Year  Quarter  Month  ...  winddirDegree  humidity  airport
1314952  2017        2      5  ...            266         6       12
1026054  2017        1      2  ...            297        58       10
1331026  2017        2      6  ...            256         7       12
165918   2016        1      3  ...            342        25        7
780222   2016        4     10  ...            187        79       11
...       ...      ...    ...  ...            ...       ...      ...
1704472  2017        4     10  ...            306        22       12
1695231  2017        4     10  ...             13        93        2
750571   2016        4     10  ...            108        30        5
578483   2016        3      8  ...            240        66        0
1429029  2017        3      7  ...            278        65       14

[306548 rows x 25 columns]

In [0]:
from sklearn.linear_model import LinearRegression
lrmodel=LinearRegression()

In [0]:
lrmodel.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
lrmodel.coef_

array([-1.90309885e-01, -4.93379465e-01,  8.75077057e-02, -1.17035972e-02,
        2.00893664e-03,  1.10998985e-03, -2.36401175e+01, -2.72022986e-03,
        9.74521647e-01,  8.78650582e-04,  5.31818094e-04,  9.38074667e-04,
        6.29708850e-02,  4.41609660e-02,  9.68551363e-03,  1.12600704e-01,
       -1.04623815e-01, -6.15355267e-03, -1.10851503e-01,  1.12627725e-02,
        1.80729357e-01, -1.80948364e-01, -7.90235915e-04, -3.21124381e-02,
       -2.87733228e-01])

In [0]:
lrmodel.intercept_

496.81600511948153

In [0]:
y_pred=lrmodel.predict(X_test)

In [0]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
import pickle as pkl

In [0]:
print("rmse for linear regression is:",mean_squared_error(y_test,y_pred,squared=False))
print("MAE for linear regression is:",mean_absolute_error(y_test,y_pred))
print("R2_Score for linear regression is:",r2_score(y_test,y_pred))

rmse for linear regression is: 17.502151062487545
MAE for linear regression is: 12.194194535800456
R2_Score for linear regression is: 0.9384671014097458

In [0]:
from sklearn.ensemble import ExtraTreesRegressor
extra_tree_regressor = ExtraTreesRegressor()

In [0]:
extra_tree_regressor.fit(X_train,y_train)

In [0]:
y_pred_extratrees=extra_tree_regressor.predict(X_test)

In [0]:
print("rmse for extra trees regressor is:",mean_squared_error(y_test,y_pred_extratrees,squared=False))
print("MAE for extra trees regressor is:",mean_absolute_error(y_test,y_pred_extratrees))
print("R2_Score for extra trees regressor is:",r2_score(y_test,y_pred_extratrees))

rmse for extra trees regressor is: 16.831624685756175
MAE for extra trees regressor is: 11.87065223064577
R2_Score for extra trees regressor is: 0.9430915712393722

In [0]:
from sklearn.ensemble import RandomForestRegressor
Rf_regressor = RandomForestRegressor()

In [0]:
Rf_regressor.fit(X_train,y_train)
pkl.dump(Rf_regressor,open("finalized_regreseeor.sav","wb"))

In [0]:
y_pred_RandomForest=Rf_regressor.predict(X_test)

In [0]:
print("rmse for random forest regressor is:",mean_squared_error(y_test,y_pred_RandomForest,squared=False))
print("MAE for random forest regressor is:",mean_absolute_error(y_test,y_pred_RandomForest))
print("R2_Score for random forest regressor is:",r2_score(y_test,y_pred_RandomForest))

rmse for random forest regressor is: 16.640402553851423
MAE for random forest regressor is: 11.725128788966167
R2_Score for random forest regressor is: 0.944377286177314

In [0]:
from xgboost import XGBRegressor
Xgbregressor=XGBRegressor(objective="reg:linear")

In [0]:
Xgbregressor.fit(X_train,y_train)

[12:11:27] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [0]:
y_pred_Xg=Xgbregressor.predict(X_test)

In [0]:
print("rmse for Xgboost regressor is:",mean_squared_error(y_test,y_pred_Xg,squared=False))
print("MAE for Xgboost regressor is:",mean_absolute_error(y_test,y_pred_Xg))
print("R2_Score for Xgboost regressor is:",r2_score(y_test,y_pred_Xg))

rmse for Xgboost regressor is: 16.806915852134473
MAE for Xgboost regressor is: 11.665296988240415
R2_Score for Xgboost regressor is: 0.9432585318051374