In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
import pandas as pd
df=pd.read_csv("/content/drive/My Drive/Flight_weather.csv")
df.dropna(how='any',inplace=True)
df

         Year  Quarter  Month  ...  winddirDegree humidity  airport
0        2016        1      1  ...            108       65      SEA
1        2016        1      1  ...            108       65      SEA
2        2016        1      1  ...            108       65      SEA
3        2016        1      1  ...            108       65      SEA
4        2016        1      1  ...            108       65      SEA
...       ...      ...    ...  ...            ...      ...      ...
1859971  2017        4     12  ...            123       88      EWR
1859972  2017        4     12  ...            219       90      ORD
1859973  2017        4     12  ...            219       90      ORD
1859974  2017        4     12  ...            177       89      SEA
1859975  2017        4     12  ...            113       78      IAH

[1834170 rows x 28 columns]

In [12]:
import sklearn.preprocessing as preprocessing
le=preprocessing.LabelEncoder()
df["airport"]=le.fit_transform(df["airport"].astype(str))
df["FlightDate"]=le.fit_transform(df["FlightDate"].astype(str))
df

         Year  Quarter  Month  ...  winddirDegree  humidity  airport
0        2016        1      1  ...            108        65       13
1        2016        1      1  ...            108        65       13
2        2016        1      1  ...            108        65       13
3        2016        1      1  ...            108        65       13
4        2016        1      1  ...            108        65       13
...       ...      ...    ...  ...            ...       ...      ...
1859971  2017        4     12  ...            123        88        4
1859972  2017        4     12  ...            219        90       11
1859973  2017        4     12  ...            219        90       11
1859974  2017        4     12  ...            177        89       13
1859975  2017        4     12  ...            113        78        5

[1834170 rows x 28 columns]

In [0]:
X=df.drop(["ArrDel15","ArrDelayMinutes","ArrTime"],axis=1)
y=df["ArrDel15"]

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [0]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [8]:
from sklearn.pipeline import make_pipeline
from imblearn.pipeline import make_pipeline as make_pipeline_imb
from imblearn.over_sampling import SMOTE
smote_pipeline=make_pipeline_imb(SMOTE(random_state=4),RandomForestClassifier())
smote_model=smote_pipeline.fit(X_train,y_train)
smote_prediction=smote_model.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [9]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test,smote_prediction))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

                   pre       rec       spe        f1       geo       iba       sup

        0.0       0.93      0.97      0.72      0.95      0.84      0.71    289814
        1.0       0.85      0.72      0.97      0.78      0.84      0.68     77020

avg / total       0.91      0.92      0.77      0.91      0.84      0.71    366834

In [10]:
smote_pipeline_decisionTree=make_pipeline_imb(SMOTE(random_state=4),DecisionTreeClassifier(random_state=0))
smote_model_decisionTree=smote_pipeline_decisionTree.fit(X_train,y_train)
smote_prediction_decisionTree=smote_model_decisionTree.predict(X_test)
print(classification_report_imbalanced(y_test,smote_prediction_decisionTree))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

                   pre       rec       spe        f1       geo       iba       sup

        0.0       0.92      0.91      0.70      0.91      0.80      0.65    289814
        1.0       0.67      0.70      0.91      0.69      0.80      0.62     77020

avg / total       0.87      0.87      0.75      0.87      0.80      0.65    366834

In [11]:
smote_pipeline_extratrees=make_pipeline_imb(SMOTE(random_state=4),ExtraTreesClassifier(random_state=0))
smote_model_extratrees=smote_pipeline_extratrees.fit(X_train,y_train)
smote_prediction_extratrees=smote_model_extratrees.predict(X_test)
print(classification_report_imbalanced(y_test,smote_prediction_extratrees))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

                   pre       rec       spe        f1       geo       iba       sup

        0.0       0.94      0.95      0.75      0.94      0.85      0.73    289814
        1.0       0.79      0.75      0.95      0.77      0.85      0.70     77020

avg / total       0.91      0.91      0.79      0.91      0.85      0.72    366834

In [8]:
smote_pipeline_lgr=make_pipeline_imb(SMOTE(random_state=4),LogisticRegression(random_state=0))
smote_model_lgr=smote_pipeline_lgr.fit(X_train,y_train)
smote_prediction_lgr=smote_model_lgr.predict(X_test)
print(classification_report_imbalanced(y_test,smote_prediction_lgr))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

                   pre       rec       spe        f1       geo       iba       sup

        0.0       0.94      0.93      0.77      0.93      0.85      0.73    289814
        1.0       0.74      0.77      0.93      0.76      0.85      0.71     77020

avg / total       0.90      0.90      0.81      0.90      0.85      0.73    366834